-webkit-locale: "en";
box-sizing: border-box;
margin: 0px;
padding: 0px;
border: 0px;
font: inherit;
vertical-align: baseline;
--ColorOne: #FFFFFFFF;
--ColorTwo: #121212FF;
--ColorThree: #0072FFFF;
--ColorFour: #EDEDEDFF;
--ColorFive: #75B3FFFF;
--common-font-family: Roboto,Helvetica,Arial,sans-serif;
--topHeaderFontSize: 36;
--headerFontSize: 30;
--subheaderFontSize: 24;
--header4FontSize: 14;
--header5FontSize: 11;
--paragraphFontSize: 16;
--verticalSpacingRatio: 1;
--horizontalSpacingRatio: 1;
--withToMaxWidthRatioIndicator: 0.6474576271186441;